<a href="https://colab.research.google.com/github/DevHyunseo/PoscoAcademy_Bigdata/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%95%B8%EB%93%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 데이터핸들링 과제

In [ ]:
import numpy as np
import pandas as pd

#실습1

#step 1 : pandas를 활용한 series 구조 생성
dict_data = {1:'홍길동', 2:'이순신', 3:'강감찬'}
sr = pd.Series(dict_data)

#step 2 : dataframe을 활용한 구조 생성
table = {'성명':['홍길동', '이순신', '강감찬', '이성계', '정약용'],
        '국어성적':[90,95,85,90,95],
        '영어성적':[90,85,90,95,95],
        '수학성적':[95,90,85,75,90]}
df = pd.DataFrame(table)

In [ ]:
#실습2 : 데이터 읽고 저장하기

#step1 : pandas 패키지를 이용하여 데이터 읽어오기
df = pd.read_csv('/home/piai/바탕화면/빅데이터주간/01 실습파일/1 Big Data 분석 기초/성적.csv', encoding='euc-kr')
del df['Unnamed: 0']

#step2 : 파일 저장하기
df.to_csv('/home/piai/바탕화면/빅데이터주간/01 실습파일/1 Big Data 분석 기초/성적2.csv', encoding='euc-kr')

In [ ]:
#실습3 : 데이터 읽기, 내용 미리보기, 요약정보 보기, 데이터 개수 확인

#step1 : 데이터 읽어오기
df = pd.read_csv('/home/piai/바탕화면/빅데이터주간/01 실습파일/1 Big Data 분석 기초/FITNESS.csv', encoding='euc-kr')

#step2 : 데이터 내용 미리보기
df.head() #앞쪽 5개 데이터 보기

#step3 : 요약정보 확인하기
df.describe()

#step4 : 데이터 개수 및 집계함수 활용 - 성별로 평균치, 중앙값 확인
df.groupby(['GENDER']).agg(['mean', 'median'])

/tmp/ipykernel_7120/2053354034.py:13: FutureWarning: ['NAME', 'AGEGROUP'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby(['GENDER']).agg(['mean', 'median'])

              AGE            WEIGHT               OXY            RUNTIME  \
             mean median       mean median       mean   median      mean
GENDER
남성      46.333333   45.0  82.282667  81.42  44.753733  45.3130  11.19400
여성      47.312500   48.5  72.908750  73.54  49.834000  48.2965  10.01625

              RUNPULSE          RSTPULSE        MAXPULSE
       median     mean median       mean median     mean median
GENDER
남성      10.95   172.20  174.0  55.733333   57.0  175.800  176.0
여성      10.04   167.25  168.0  51.312500   48.0  171.875  170.0

In [ ]:
#실습4 : 정규분포에서 추출한 10개의 무작위 데이터로 데이터 선택하기

from numpy.random import randn

#step1 : 데이터 구상하기
np.random.seed(1234) #고정된 시드 :1234
df = pd.DataFrame(randn(10,4), columns=['A', 'B', 'C', 'D'])

#step2 : slice
#(1)B열 선택
df[['B']]

#(2)B, D열 선택
df[['B', 'D']]

#(3)4~8행 선택
df[4:9]

#step3 : loc, iloc
#(1) loc : 2~8행, A,C열 선택
df.loc[2:8, ['A', 'C']]

#(2) loc : A,C열 선택
df.loc[:,['A', 'C']]

#(3) loc : 3~8행 선택
df.loc[3:8]

#(4) loc : 3행 선택
df.loc[3:3]

#(5) iloc :0~6행, A열 선택
df.iloc[0:7, [0]]

#(6) iloc : A열 선택
df.iloc[:, [0]]

#(7) iloc : 2~6행 선택
df.iloc[2:7]

#(8) iloc : 5행 선택
df.iloc[5:6]

#(9) query : d > 0.5 선택
df.query('D > 0.5')

#(10) query : B > D 선택
df.query('B > D')
df[df.B > df.D]

#(11) query : A > 0.5 그리고 D < 0.0 선택
df.query('A > 0.5 & D < 0.0')

#(12) query : A > 0.5 혹은 D < 0.0 선택
df.query('A > 0.5 | D < 0.0')

          A         B         C         D
0  0.471435 -1.190976  1.432707 -0.312652
1 -0.720589  0.887163  0.859588 -0.636524
3  0.953324 -2.021255 -0.334077  0.002118
4  0.405453  0.289092  1.321158 -1.546906
6  1.318152 -0.469305  0.675554 -1.817027
8  1.047579  1.045938  0.863717 -0.122092

In [ ]:
#실습5 : df4, df5, df6 concat하기

#step1 : 데이터 구성하기
df4 = pd.DataFrame({'A':['A0', 'A1', 'A2', 'A3'],
                  'B':['B0', 'B1', 'B2', 'B3'],
                  'C':['C0', 'C1', 'C2', 'C3'],
                  'D':['D0', 'D1', 'D2', 'D3']})
df5 = pd.DataFrame({'E':['E0', 'E1', 'E2', 'E3'],
                  'F':['F0', 'F1', 'F2', 'F3'],
                  'G':['G0', 'G1', 'G2', 'G3'],
                  'H':['H0', 'H1', 'H2', 'H3']})
df6 = pd.DataFrame({'I':['I0', 'I1', 'I2', 'I3'],
                  'J':['J0', 'J1', 'J2', 'J3'],
                  'K':['K0', 'K1', 'K2', 'K3'],
                  'L':['L0', 'L1', 'L2', 'L3']})

# #step2 : concat을 이용한 데이터 결합
result = pd.concat([df4, df5, df6])
result

#step3 : 파라미터 변경(axis = 1로 두어서 좌우로 합치기)
result = pd.concat([df4, df5, df6], axis=1)
result

    A   B   C   D   E   F   G   H   I   J   K   L
0  A0  B0  C0  D0  E0  F0  G0  H0  I0  J0  K0  L0
1  A1  B1  C1  D1  E1  F1  G1  H1  I1  J1  K1  L1
2  A2  B2  C2  D2  E2  F2  G2  H2  I2  J2  K2  L2
3  A3  B3  C3  D3  E3  F3  G3  H3  I3  J3  K3  L3

In [ ]:
#실습6 : merge를 이용하기

#step 1 : 데이터 구성하기
d1 = pd.read_csv('/home/piai/바탕화면/빅데이터주간/01 실습파일/1 Big Data 분석 기초/FITNESS_1.csv', encoding='euc-kr')
d2 = pd.read_csv('/home/piai/바탕화면/빅데이터주간/01 실습파일/1 Big Data 분석 기초/FITNESS_2.csv', encoding='euc-kr')

#step 2 : merge를 이용한 결합
result = pd.merge(d1, d2)
result #원본 FITNESS 데이터와 비교하니 동일함을 확인함.

In [ ]:
#실습7 : pivot을 이용하여 GENDER와 AGEGROUP별 WEIGHT의 평균 나타내기

#step1 : 데이터 구성하기
df = pd.read_csv("/home/piai/바탕화면/빅데이터주간/01 실습파일/1 Big Data 분석 기초/FITNESS.csv",  encoding = 'euc-kr')
df.head()

#step 2: groupby, agg를 이용한 평균값 계산
d1= df.groupby(['GENDER', 'AGEGROUP'], as_index=False).agg({'WEIGHT':'mean'})

#step 3: pivot을 이용한 변환 1
d2 = d1.pivot('GENDER', 'AGEGROUP', 'WEIGHT')

#step3 : pivot을 이용한 변환 2
d3 = d1.pivot('AGEGROUP', 'GENDER', 'WEIGHT')
d3

/tmp/ipykernel_7120/2437670642.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  d2 = d1.pivot('GENDER', 'AGEGROUP', 'WEIGHT')
/tmp/ipykernel_7120/2437670642.py:13: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  d3 = d1.pivot('AGEGROUP', 'GENDER', 'WEIGHT')

GENDER        남성         여성
AGEGROUP
30대       81.080  78.925000
40대       85.465  72.943750
50대       79.426  70.856667